<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modestie.modestieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ModestieTheme.DayNight"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".activities.NewEventActivity"
            android:configChanges="orientation"
            android:label="@string/title_new_event_activity"
            android:parentActivityName=".activities.EventListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modestie.modestieapp.activities.EventListActivity" />
        </activity>
        <activity
            android:name=".activities.EventListActivity"
            android:configChanges="orientation"
            android:label="@string/title_event_list_activity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modestie.modestieapp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.CharacterActivity"
            android:configChanges="orientation"
            android:label="@string/title_character_activity"
            android:parentActivityName=".activities.MembersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modestie.modestieapp.activities.MembersListActivity" />
        </activity>
        <activity
            android:name=".activities.MembersListActivity"
            android:configChanges="orientation"
            android:label="@string/title_members_list_activity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modestie.modestieapp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings_activity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/ModestieTheme.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.modestie.modestieapp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ModestieTheme.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>